@use '../../_lib' as lib;

.product-page {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 5rem 0;
    z-index: 0;

    &__thumbnails {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        max-height: 32rem;
        margin-right: 1rem;
        padding-bottom: 5rem;
        z-index: 1;

        &__thumbnails-img {
            position: relative;
            max-width: 5rem;
            max-height: 5rem;
            cursor: pointer;
        }

        &::-webkit-scrollbar {
            width: .3rem;
            background-color: rgb(241, 241, 241);
        }

        &::-webkit-scrollbar-thumb {
            background-color: #5ECE7B;
            cursor: pointer;
        }

        @supports(scrollbar-color: #5ECE7B rgb(241, 241, 241)) {
            * {
                scrollbar-color: #5ECE7B rgb(241, 241, 241);
                scrollbar-width: thin;
                cursor: pointer;
            }
        }
    }

    &__img-div {
        position: relative;
        display: block;
        width: 38rem;
        max-height: 32rem;
        margin: 0 0 0 2rem;
        z-index: 1;

        &__main-img {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            max-height: 32rem;
            max-width: 38rem;
            z-index: 0;
        }

        &__out-of-stock-text {
            @include lib.out-of-stock-text-mixin;
        }

        &__out-of-stock-img {
            @include lib.out-of-stock-img-mixin;
        }
    }

    &__text {
        position: relative;
        width: 18.25rem;
        margin-left: 5rem;
        transition: .3s;

        &__brand {
            position: relative;
            font-style: normal;
            font-size: 2rem;
            font-weight: 600;
            width: 100%;
            margin-bottom: 1rem;
        }

        &__name {
            position: relative;
            font-style: normal;
            font-weight: 400;
            font-size: 2rem;
            width: 100%;
            margin-bottom: 2.75rem;
        }

        &__price {
            position: relative;
            font-family: 'Roboto Condensed';
            font-style: normal;
            font-weight: 700;
            font-size: 1.2rem;
            text-transform: uppercase;
            width: 100%;
            margin-bottom: .62rem;
        }

        &__amount {
            position: relative;
            font-family: 'Roboto Condensed';
            font-style: normal;
            font-weight: 700;
            font-size: 1.2rem;
            line-height: 18px;
            text-transform: uppercase;
            width: 100%;
            margin-bottom: 1.25rem;
        }

        &__btn {
            position: relative;
            width: 100%;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 600;
            font-size: 1rem;
            line-height: 120%;
            text-transform: uppercase;
            color: white;
            background-color: #5ECE7B;
            padding: 1rem 2rem;
            border: 1px solid transparent;
            cursor: pointer;
            margin-bottom: 2.5rem;
            transition: .3s;

            @include lib.productGreenBtn;
        }

        &__description {
            position: relative;
            width: 100%;
            font-family: 'Roboto Condensed';
            font-style: normal;
            font-weight: 400;
            font-size: 1rem;
            line-height: 159.96%;
            color: #1D1F22;
        }

        &__warning {
            position: relative;
            color: red;
            margin-bottom: .5rem;
            animation: warn-anim .5s ease-in;
        }

        @keyframes warn-anim {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }
    }
}

.attributes {
    position: relative;

    &__name {
        position: relative;
        font-family: 'Roboto Condensed';
        font-style: normal;
        font-weight: 700;
        font-size: 1.2rem;
        font-weight: 700;
        text-transform: uppercase;
        width: 100%;
    }

    &__div {
        position: relative;
        display: flex;
        flex-direction: row;
        gap: .8rem;
        width: 100%;
        margin-bottom: 1.5rem;

        &__swatch {
            box-sizing: border-box;
            position: relative;
            display: inline-block;
            height: 2rem;
            width: 2rem;
            border: 1px solid grey;
            content: " ";
            cursor: pointer;
            max-width: 100%;
            list-style: none;

            &:hover::after {
                position: absolute;
                display: inline-block;
                height: 2.15rem;
                width: 2.15rem;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                content: " ";
                border: 2px solid #747DCF;
            }

            &--active::after,
            &:active::after {
                position: absolute;
                display: inline-block;
                height: 2.15rem;
                width: 2.15rem;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                content: " ";
                border: 2px solid #5ECE7B;
                z-index: -1;
            }
        }

        &__text {
            position: relative;
            font-size: 1rem;
            font-weight: 400;
            color: #1D1F22;
            border: 1px solid #1D1F22;
            padding: .8rem 1.5rem;
            cursor: pointer;
            max-width: 100%;
            list-style: none;

            &:hover {
                background-color: rgb(238, 238, 238);
                color: #1D1F22;
            }

            &--active,
            &:active {
                color: white;
                background-color: #1D1F22;
            }
        }

    }
}