$img_width: 20rem;

.product-card {
    display: flex;
    flex-direction: column;
    border: 2px solid transparent;
    padding: 1rem;
    max-width: calc($img_width + 2*1rem);
    margin: 0;
    cursor: pointer;
    transition: .3s;

    &:hover {
        box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
    }

    &__img {
        width: $img_width;
        border: 2px solid transparent;
    }

    &__title {
        font-size: 1.3rem;
        font-weight: 300;
        width: 20vw;
        margin-top: 1.5rem;
    }

    &__price {
        font-size: 1.3rem;
        font-weight: 500;
        width: 20vw;
    }
}