.cart-overlay {
    position: absolute;
    display: inline-block;
    max-height: 42.5rem;
    width: 20.5rem;
    background-color: white;
    border: 1px solid transparent;
    top: 5rem;
    left: 68vw;
    overflow-y: scroll;
    z-index: 1;
}

.cart-overlay::-webkit-scrollbar {
    width: .3rem;
    background-color: rgb(241, 241, 241);
}

.cart-overlay::-webkit-scrollbar-thumb {
    background-color: #5ECE7B;
    cursor: pointer;
}

@supports(scrollbar-color: #5ECE7B rgb(241, 241, 241)) {
    * {
        scrollbar-color: #5ECE7B rgb(241, 241, 241);
        scrollbar-width: thin;
        cursor: pointer;
    }
}