.cart-overlay {
    position: absolute;
    max-height: 42.5rem;
    width: 20.5rem;
    background-color: white;
    border: 1px solid transparent;
    top: 0;
    left: 54rem;
    bottom: 0;
    overflow-y: scroll;
}

.cart-overlay::-webkit-scrollbar {
    width: .3rem;
    background-color: rgb(241, 241, 241);
}

.cart-overlay::-webkit-scrollbar-thumb {
    background-color: #5ECE7B;
    cursor: pointer;
}

@supports(scrollbar-color: #5ECE7B rgb(241, 241, 241)) {
    * {
        scrollbar-color: #5ECE7B rgb(241, 241, 241);
        scrollbar-width: thin;
        cursor: pointer;
    }
}

.dimming {
    position: absolute;
    width: 99vw;
    height: 100%;
    left: 50%;
    right: 0;
    top: 0rem;
    transform: translateX(-50%);
    bottom: 0;
    background-color: rgba(78, 78, 78, 0.274);
}